name: build-cache
on:
    workflow_dispatch:
    schedule:
        - cron: '0 0 * * 0'
jobs:
    build-cache:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ${{ github.workspace }}/app
        steps:
            - uses: actions/checkout@v6
              with:
                  path: generator-jhipster-kotlin
            - uses: jhipster/actions/setup-runner@v1
              with:
                  node-version: 20
                  binary-dir: ${{ github.workspace }}/generator-jhipster-kotlin/cli/
            - uses: jhipster/actions/cache-npm-dependencies@v1
              with:
                  generator-path: generator-jhipster-kotlin
              if: always()
            - run: cli.cjs generate-sample --all
              continue-on-error: true
            - run: npm run backend:build-cache --workspaces
              continue-on-error: true
            - uses: jhipster/actions/save-cache@v1
              if: always()
              with:
                  key: ${{ github.run_id }}
                  npm: true
                  maven: true
                  gradle: true
            - uses: jhipster/actions/restore-cache@v1
              with:
                  npm: true
                  maven: true
                  gradle: true
