name: KHipster Generator CI
on: [push, pull_request]
env:
    JHI_RUN_APP: 1
    JHI_E2E: 0
    JHI_JDK: 11
    JHI_LIB_REPO: https://github.com/jhipster/jhipster-bom.git
    JHI_LIB_BRANCH: release
    JHI_GEN_REPO: https://github.com/jhipster/generator-jhipster.git
    JHI_GEN_BRANCH: v7.0.0-beta.1
    SPRING_OUTPUT_ANSI_ENABLED: ALWAYS
    SPRING_JPA_SHOW_SQL: false
    JHI_DISABLE_WEBPACK_LOGS: true
    JHI_E2E_HEADLESS: true
    JHI_SCRIPTS: $HOME/generator-jhipster/test-integration/scripts
    KOTLIN_JHI_SCRIPTS: ${{ github.workspace }}/test-integration/scripts
    JHI_GITHUB_CI: true
    JHI_APP: ''
jobs:
    kotlin-hipster:
        name: KHipster generator unit test suite
        runs-on: ${{ matrix.os }}
        if: >-
            !contains(github.event.head_commit.message, '[ci skip]') &&
            !contains(github.event.head_commit.message, '[skip ci]') &&
            !contains(github.event.pull_request.title, '[skip ci]') &&
            !contains(github.event.pull_request.title, '[ci skip]') &&
            (github.event.pull_request.draft == false || !contains(github.event.pull_request.labels.*.name, 'pr: skip-ci'))
        timeout-minutes: 20
        strategy:
            fail-fast: false
            matrix:
                node_version: [14.15.0]
                os: [ubuntu-20.04]
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node_version }}
            - name: Config git variables
              run: $KOTLIN_JHI_SCRIPTS/04-git-config.sh
            - name: Install and execute unit tests
              run: $KOTLIN_JHI_SCRIPTS/10-install-jhipster-kotlin.sh
